---
layout: home
---
<div class="pin-view">
  <div class="pin-content">
    <h2>Simple projects</h2>
    <div class="sticky"><i class="fas fa-thumbtack" style="font-size:18px"></i></div>
  </div>
  <ul>
    <li><a target="_blank" href="https://github.com/thanhnhu/GiveAndTake">https://github.com/thanhnhu/GiveAndTake</a>
    </li>
  </ul>
</div>
<hr>

<!-- {% assign sorted = paginator.posts | sort: "stickiness" %}
{% for post in sorted %}
  {% if post.sticky %}
    <span class="sticky"><i class="fa fa-thumb-tack" aria-hidden="true"></i></span>
    <div class="content">{{ post.content }}</div>
  {% endif %}
{% endfor %} -->

{% include new-window-fix.html %}